<app-header></app-header>
<div class="image-classifier-container">
  <div class="image-classifier__card-wrap">
    <mat-card>
      <mat-card-title *ngIf="imageSource">Prediction Result</mat-card-title>
      <img *ngIf="imageSource" #userImage mat-card-image [src]="imageSource"
        alt="Classifier Image">
      <mat-card-content>
        <span *ngIf="!imageSource" class="image-classifier__no-data-text">
          No Image
        </span>
        <mat-list role="list">
          <mat-list-item *ngFor="let entry of predictions" role="listitem">
            {{ entry.className }} | confidence: {{ (entry.probability * 100) | percentage }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="imageInput.click()">
          Upload Image
        </button>
        <button (click)="cleanup()" [disabled]="!imageSource"
           mat-button color="warn">
          Clear
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <input
    #imageInput type="file"
    class="image-classifier__file-input"
    (change)="onFileSelected($event)">
</div>
