.home__options-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.home__options-card-wrap {
  color: white;
  margin: 20px;
  & mat-icon {
    width: 128px;
    height: 128px;
  }

  & mat-card {
    transition: all 200ms ease-in-out;
  }

  & mat-card:hover {
    cursor: pointer;
    color: white;
    transition: all 200ms ease-in-out;
    transform: scale(1.05);
    background-color:rgba(0,0,0,.87);
    & mat-icon {
      fill: white;
    }
  }

  & mat-card-content {
    text-align: center;
  }
}

.home__options-btn-wrap {
  margin-top: 20px;
}
